* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:focus,
*:active {
  outline: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: honoka-antique-maru, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #304573;

}

@media screen and (max-width: 500px) {

  body {
    max-width: 500px;
    position: relative;
  }

}

/* ヘッダー */
header {
  width: 100%;
  max-width: 500px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 10000;
}

.logo {
  display: block;
  align-items: center;
  pointer-events: auto;
  padding: 6%;
}

.logo a {
  text-decoration: none;
}

.logo img {
  display: block;
  width: 100%;
  height: 10vh;
  margin: 0;
  padding: 0;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
  pointer-events: auto;
  padding: 6%;
}

.menu-toggle img {
  height: 8vh;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

/* ヘッダー終わり */
/* ナビゲーション */
.nav-menu {
  position: fixed;
  justify-content: center;
  top: -100%;
  left: auto;
  width: 100%;
  max-width: 500px;
  height: 80%;
  background-color: #f9d878;
  z-index: 99999;
  transition: top 1.0s ease;
  border-radius: 0 0 400px 400px;
}

.nav-menu.open {
  top: 0;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-links {
  list-style: none;
  text-align: center;
}

.nav-links li {
  margin: 15% 0;
  color: #1C305C;
  font-size: 28px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.nav-close {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 20%;
}

.nav-close img {
  height: 100%;
  width: 100%;
  padding: 8px;
  display: block;
}

/* ナビゲーション終わり */

/* フッター ここから*/
footer {
  background-color: #43676D;
  width: 100%;
  height: auto;
  padding: 19% 8% 0;
}

.sns-icons {
  list-style: none;
  display: flex;
  gap: 17%;
  justify-content: center;
  margin: 0 15% 8%;
}

.sns-icons li a {
  display: inline-block;
  cursor: pointer;
}

.sns-icons li a img {
  width: 100%;
  display: block;
}

.sns-icons li a:hover img {
  opacity: 0.7;
}

.footer-logo {
  width: 40%;
  margin: 10% auto;
}

.footer-logo img {
  width: 100%;
}

.copyright {
  text-align: center;
  padding-bottom: 5%;
  color: #FFF2E8;
}