@import url(common.css);

body {
  max-width: 500px;
  margin: auto;
  position: relative;
}

/* menuここから */
#menupage-wrapper {
  width: 100%;
  background-color: #1C305C;
  text-align: center;
  color: #FFF2E8;
  padding: 35% 0 30%;
  height: auto;
}

#menupage-wrapper h1 img {
  width: 90%;
  position: absolute;
  left: 5%;
  top: 15%;
}

#menupage {
  padding-top: 10%;
}

#menu-contents {
  width: 75%;
  justify-content: center;
  margin: 0 auto;
  padding: 10% 0 0;
}

#menupage h2:first-child {
  border-top: 2px solid #FFF2E8;
  border-bottom: 2px solid #FFF2E8;
  padding: 3% 0;
  border-top: 2px solid #FFF2E8;
  border-bottom: 2px solid #FFF2E8;
}

#menupage h2 {
  margin: 0 10% 5%;
  padding: 4% 0 4%;
  border-top: 2px solid #FFF2E8;
  border-bottom: 2px solid #FFF2E8;
}

#menupage small {
  margin-bottom: 2%;
}

#menupage ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10% auto 5%;
  width: 100%;
}

#menupage ul:last-child {
  margin-bottom: 8%;
}

#menupage li {
  width: 48%;
  padding: 3% 2% 10%;
  margin: 0 0 8%;
  list-style: none;
  background-color: #FFF2E8;
  border-radius: 5%;
}

#menupage li img {
  width: 100%;
  border-radius: 6%;
  cursor: pointer;
  margin-bottom: 10%;
}

#menupage li p {
  color: #43676D;
  line-height: 25px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #FFF2E8;
  margin: 15vh auto;
  padding: 16px 24px 32px;
  width: 75%;
  max-width: 400px;
  position: relative;
  border-radius: 8px;
  text-align: center;
  color: #1C305C;
}

.close {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 40px;
  cursor: pointer;
}

.modal-content img {
  width: 100%;
  margin: auto;
  border-radius: 10%;
  border: 3px solid #EC6800;
}

.modal-content h3 {
  padding: 8% 0 5%;
  font-size: 25px;
}

.price {
  margin: 2% 0 3%;
  font-size: 20px;
}

.modal-content h4 {
  padding: 5% 0 2%;
  font-size: 22px;
}

.allergy span {
  background-color: #EC6800;
  border-radius: 25px;
  color: #FFF2E8;
  margin: 2% 1%;
  padding: 1% 5%;
}

.text {
  margin: 5% 1% 0;
  padding-top: 5%;
  text-align: left;
  font-size: 17px;
}

/* ボタン */
.link-buttom {
  display: block;
  background-color: #EC6800;
  color: #FFF2E8;
  padding: 3.8% 7% 3.8%;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  font-size: 15px;
  transition: transform 0.2s ease;
  text-align: center;
  width: 55%;
  right: 0;
  margin: 10% 0;
}

.link-buttom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 16px solid #1C305C;
}

.link-buttom:hover {
  transform: translateY(2px);
}