@import url(common.css);

html {
  width: 100%;

}

/* スクロールダウン */
body {
  scroll-behavior: smooth;
  max-width: 500px;
  position: relative;
  margin: auto
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.scroll_down {
  position: absolute;
  top: 67%;
  right: 40px;
  z-index: 999;
}

#scroll_down a {
  position: absolute;
  bottom: 30px;
  color: #FFF2E8;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2em;
  text-transform: uppercase;
  width: 23px;
  height: 23px;
  text-decoration: none;
}

.scroll_down-text {
  display: block;
  margin-top: 60px;
  margin-left: -14px;
  font-size: 12px;
  color: #FFF2E8;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 2px;
}

.arrow {
  position: absolute;
  width: 28px;
  height: 5px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 4s ease-out infinite;
}

.arrow:before,
.arrow:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #FFF2E8;
}

.arrow:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.arrow:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }

  67% {
    opacity: 1;
    transform: translateY(35px);
  }

  100% {
    opacity: 0;
    transform: translateY(50px) scale3d(0.8, 0.8, 0.8);
  }
}

/* スクロールダウンここまで */

/* オープニング */
#cloud {
  width: 110%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

#cloud img {
  width: 150%;
  position: absolute;
  padding: 0;
  margin: 0;
  transition: transform 1.4s ease, opacity 1.2s ease;
}

.cloud-top {
  left: -15%;
  top: -10%;
}

.cloud-bottom {
  right: -10%;
  bottom: -15%;
}

/* メインここから */
/* ボタン */
@keyframes slideIn {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }

  40%,
  100% {
    opacity: 1;
  }
}

.link-buttom {
  display: block;
  background-color: #EC6800;
  color: #FFF2E8;
  padding: 3.8% 7% 3.8%;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  font-size: 15px;
  transition: transform 0.2s ease;
  text-align: center;
  width: 55%;
  right: 0;
  margin: 10% 0;
}

.link-buttom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 16px solid #1C305C;
}

.link-buttom:hover {
  transform: translateY(2px);
}

.link-buttom2 {
  display: block;
  background-color: #EC6800;
  color: #FFF2E8;
  padding: 3.8% 7% 3.8%;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  font-size: 15px;
  transition: transform 0.2s ease;
  text-align: center;
  width: 55%;
  right: 0;
  margin: 10% 0;
}

.link-buttom2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 16px solid #43676D;
}

.link-buttom2:hover {
  transform: translateY(2px);
}

/* トップここから */
main {
  max-width: 500px;
  position: relative;
}

.top {
  width: 100%;
  max-width: 500px;
  height: 110vh;
  background-image: url(../img/top-back.png);
  background-size: cover;
  background-position: center center;
}

.top-cloud {
  position: absolute;
  width: 80%;
  aspect-ratio: 425/231;
  right: 0;
  top: 30vh;
  z-index: 50;
}

@keyframes parallax-top-anim {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(230%);
  }
}

.top-img img {
  width: 83%;
  padding: 20% 0;
  margin-bottom: 35%;
  animation: parallax-top-anim linear;
  animation-timeline: scroll();
}

.top-img {
  text-align: center;
}

.top-bottom-img img {
  width: 100%;
  max-width: 500px;
  padding-bottom: 0;
  animation: parallax-features-anim linear;
  animation-timeline: scroll();
  position: absolute;
  top: 88vh;
}

/* トップここまで */

/* お店についてここから */
.features {
  display: block;
  background-color: #1C305C;
  height: auto;
  width: 100%;
  padding: 19% 8% 140%;
  position: relative;
}

.text {
  color: #FFF3E8;
  font-size: 18px;
  line-height: 32px;
  position: absolute;
  z-index: 50;
  top: 6%;
  text-shadow: 0 0 6px #1C305C, 0 0 6px #1C305C, 0 0 6px #1C305C, 0 0 6px #1C305C;
  paint-order: stroke;
  opacity: 0;
}

.text-show {
  animation: slideIn 0.8s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }

  40%,
  100% {
    opacity: 1;
  }
}

.features img {
  width: 60%;
  position: absolute;
  top: 15%;
  right: 5%;
  z-index: 5;
  opacity: 0;
}

.features img.show {
  animation: slideIn 1s ease-in-out forwards;
}

.link-buttom {
  margin-top: 110%;
}

/* お店についてここまで */

/* メニューここから */
#menu {
  background-color: #43676D;
  margin: 0;
  padding: 19% 8% 35%;
  position: relative;
}

.swiper {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 6% 2%;
  position: relative;
}

.swiper h1 {
  text-align: center;
  padding-bottom: 9%;
  color: #FFF3E8;
  font-size: 30px;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
  padding-bottom: 4%;
}

.swiper-slide {
  width: 100% !important;
  aspect-ratio: 340/430;
  box-sizing: border-box;
  text-align: center;
  background-color: #FFF2E8;
  border-radius: 12px;
  padding: 7% 10%;
  border-radius: 10%;
}

.swiper-slide img {
  max-width: 85%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10%;
}

.menu-img {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0;
  margin-bottom: 4%;
}

.swiper-slide h2 {
  padding: 5%;
  font-size: 20px;
}

.swiper-slide p {
  height: 120%;
  margin: auto;
  text-align: left;
  font-size: 17px;
  line-height: 25px;
  padding-left: 7%;
}

.swiper-pagination {
  position: absolute;
  margin-bottom: 5%;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: #ffd700;
}

/* メニューここまで */

/* 予約ここから */
.reservation {
  background-color: #1C305C;
  padding: 19% 8%;
  text-align: center;
  color: #FFF2E8;
}

.reservation h2 {
  margin-bottom: 10%;
  font-size: 27px;
}

.reservation p {
  font-size: 20px;
}

.reservation img {
  width: 100%;
  padding: 14% 8% 0;
}

.reservation img:hover {
  transform: translateY(2px);
}

/* 予約ここまで */

/* アクセスここから */
#sales {
  padding: 19% 8%;
  background-color: #43676D;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFF2E8;
}

#sales h1 {
  font-size: 30px;
}

#sales h3 {
  margin: 10% 0 2%;
  font-size: 20px;
}

.access {
  margin-top: 10%;
}

.access p {
  margin-top: 2%;
  font-size: 16px;
}

.map img {
  margin: 10% 0;
  width: 85%;
  border-radius: 20px;
}

.google-link {
  color: #43676D;
  font-size: 18px;
  padding: 3.5% 14%;
  border-radius: 50px;
  background-color: #f9d878;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 2px 4px #1c305cad;
}

/* アクセスここまで */

/* お知らせここから */
.news {
  background-color: #1C305C;
  width: 100%;
  text-align: center;
  padding: 19% 7%;
}

.news h2 {
  color: #FFF2E8;
  font-size: 30px;
  margin-bottom: 10%;
}

.news a {
  text-decoration: none;
}

.news dl {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 15px;
  color: #FFF2E8;
  border-bottom: 3px dotted;
}

.news dt {
  margin-right: 2%;
  font-size: 16px;
}

.news dd {
  margin: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 1%;
}

/* お知らせここまで */

/* メインここまで */